* {
  margin: 0; padding: 0;
  box-sizing: border-box;
}
::selection {
  color: #1f1fff;
  background-color: #fff;
}
.wrap {
  margin: 30px auto 0;
  max-width: 600px;
}
p {
  margin-bottom: 1em;
}
body {

  font-size: 22px;
  font-family: Minecraft, sans-serif;
  background: #1f1813 fixed url(http://www.wallpaperup.com/uploads/wallpapers/2012/09/03/12512/0729517a901dbcbe959a6ddaaea2a0fe.jpg) repeat center;
  background-size: 100%;
  color: #e0e0e0;
  text-shadow: 3px 3px 3px 0px #383838;

}
h1 {
  
  color: #fff;
  
}
h2 {
  
  font-size: 1em;
  color: #a0a0a0;
  
}
h1, h2 {
  font-weight: normal;
  margin-bottom: 22px;
  padding-left: 3px;
  
}
ul {
  list-style: square;
}
input {
  font: inherit;
  display: block;
  padding: .9em;
  width: 100%;
  border: 3px #a0a0a0 solid;
  background-color: #000;
  color: inherit;
  margin-bottom: 22px;
  
}
input:focus {
  outline: none;
}