@font-face {
    font-family: 'sosa';
    src: url('/font/sosa.eot');
    src: 
    local('?'), 
    url('/font/sosa.woff') format('woff'), 
    url('/font/sosa.ttf') format('truetype'),
    url('/font/sosa.svg') format('svg');
}

* {
	margin: 0; padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Helvetica, sans-serif;
	color: #fff;
	-webkit-font-smoothing: none;
	overflow: hidden;
}

header {
	height: 75px; max-width: 700px;
	_width: 700px;
	margin: 0 auto;
	background: rgba(255, 255, 255, 0.1);
	/*
	background-color: #0096ff;
	background-image: linear-gradient(180deg, #0096ff, #045791);*/
}

.weather, .clock {
	font-size: 130%;
	line-height: 1.5em;
	font-family: Monaco, "Lucida Console";
	display: inline-block;
}
.weather {
	float: left;
	display: none;
}
.weather [data-icon] {
	font-size: 250%;
}
.clock {
	padding-top: 7px;
	float: right;
	text-align: center;
}
.wind-deg {
	transition: transform 1s;
}
.weather > div, .clock > div {
	padding: 0 7px;
}
.weather div {
	display: inline-block;
}
.city {
	cursor: pointer;
}
.city.input {
	height: 31px; width: 200px;
	background-color: transparent;
	border: none;
	outline: none;
	font: inherit;
	color: inherit;
	box-shadow: 0 0 7px rgba(255, 255, 255, .3) inset;
	border-radius: 4px;
	padding: 0 7px;
}
.weather [data-icon] {
	vertical-align: super;
	line-height: 1em;
}
[data-icon]:before {
	font-style: normal;
	font-family: sosa;
	content: attr(data-icon);
	speak: none;
}